<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is vishu</title>
    <style>
            button{
                padding: 5px 20px;
                font-size: small; 
                color: black;

            
            }


            input{
                outline: none;
                color: red;
                

            }


    </style>
</head>
<body>
                <form>
                        <input type="text" name="userName" >
                            <button>sumbit</button>

                </form>
</body>
</html>